:root {
  /* menu styles */
  --context-menu-background-color: #2a3343;
  --context-menu-border-color: #192230;
  --context-menu-border-radius: 0.5rem;
  --context-menu-border-size: 1px;
  --context-menu-filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.5));
  --context-menu-font-family: Arial, Helvetica, sans-serif;
  --context-menu-padding: 0.25rem 0;
  --context-menu-transition-duration: 250ms;
  --context-menu-z-index: 25;

  /* menu item styles */
  --context-menu-item-background-color-disabled: #2a3343;
  --context-menu-item-background-color-hover: #192230;
  --context-menu-item-background-color-focus: #192230;
  --context-menu-item-color: #ffffff;
  --context-menu-item-color-disabled: #b0c0d784;
  --context-menu-item-color-hover: #ffffff;
  --context-menu-item-color-focus: #ffffff;
  --context-menu-item-font-size: 16px;
  --context-menu-item-height: 1.5rem;
  --context-menu-item-padding: 0 0.5rem;

  /* category styles */
  --context-menu-category-color: #d2e1f9a6;
  --context-menu-category-font-size: 14px;
  --context-menu-category-height: 1rem;
  --context-menu-category-padding: 0 0.5rem;

  /* divider styles */
  --context-menu-divider-color: #39414d;
  --context-menu-divider-margin: 0.25rem 0;
  --context-menu-divider-size: 1px;
}
