:root {
  --context-menu-background-color: #2a3343;
  --context-menu-background-color-hover: #192230;
  --context-menu-background-color-focus: #192230;
  --context-menu-border-color: #192230;
  --context-menu-category-color: #d2e1f9a6;
  --context-menu-category-font-size: 14px;
  --context-menu-divider-color: #39414d;
  --context-menu-font-family: Arial, Helvetica, sans-serif;
  --context-menu-item-color: #ffffff;
  --context-menu-item-color-disabled: #b0c0d784;
  --context-menu-item-font-size: 16px;
}
